<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemo9955.garden_revolution"
    android:installLocation="internalOnly"
    android:versionCode="19">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:allowTaskReparenting="false"
        android:enabled="true"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:killAfterRestore="false"
        android:label="@string/app_name"
        android:persistent="false"
        android:restoreAnyVersion="false"
        android:restoreNeedsApplication="false"
        android:testOnly="false"
        android:vmSafeMode="false" >
        <activity
            android:name="com.nemo9955.garden_revolution.android.AndroidLauncher"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>